# Подготовка данных

# Скачивание датасетов

In [28]:
import requests
from pyunpack import Archive
from pathlib import Path

In [29]:
Path("../data/datasets").mkdir(parents=True, exist_ok=True)

In [26]:
archive_url = "https://drive.google.com/uc?export=download&id=1AGmH9JZfT25ea2XySJVzl_lEh1xLsPBg"
response = requests.get(archive_url)
open("../data/datasets/sources.7z", "wb").write(response.content)

53496052

In [27]:
Archive('../data/datasets/sources.7z').extractall("../data/datasets")

## Объединяем наши данные: Отзывус, Тьютортоп, Сравнятор

### Отзывус

In [47]:
import pandas as pd
import os

In [48]:
# # LEGACY
# # Загрузка данных
# otzyvus_df = pd.read_csv("../data/datasets/otzyvus.csv", sep=";", index_col=False, low_memory=False)
# # Оставляем только текст и оценки
# otzyvus_df = otzyvus_df[['text', 'score_usefulness', 'score_complexity', 'score_interesting']]
# # Дропаем строки, где текст отстутствует
# otzyvus_df = otzyvus_df.dropna()
# # Считаем рейтинг как среднее арифметическое оценок
# otzyvus_df['rating'] = (otzyvus_df['score_usefulness'] + otzyvus_df['score_interesting']) / 2
# # Оставляем только текст и рейтинг
# otzyvus_df = otzyvus_df[['text', 'rating']]

# Загрузка данных
otzyvus_df = pd.read_csv("../data/datasets/otzyvus-v2.csv", sep=";", index_col=False, low_memory=False)
# Дропаем строки, где текст отстутствует
otzyvus_df = otzyvus_df.dropna()

### Сравнятор

In [49]:
# Загружаем данные
sravnyator_df = pd.read_csv("../data/datasets/feedbacks_sravnyator_new.csv", sep=",", index_col=False, low_memory=False)
# Объединяем текст из разных колонок в один
sravnyator_df['text'] = sravnyator_df['dignities'] + " " + sravnyator_df['disadvantages'] + " " + sravnyator_df['impressions']
# Оставляем только текст
sravnyator_df = sravnyator_df[['text']]

### Тьютортоп

In [50]:
# Загружаем данные
tutortop_df = pd.read_csv("../data/datasets/feedback_tutortop.csv", sep=",", index_col=False, low_memory=False)
# Оставляем только текст
tutortop_df = tutortop_df[['text']]

### Объединение

In [51]:
sravnyator_df["rubrics"] = "образование_онлайн_курсы;образование_сравнятор"
tutortop_df["rubrics"] = "образование_онлайн_курсы;образование_тьютортоп"
otzyvus_df["rubrics"] = "образование_онлайн_курсы;образование_отзывус"

courses_df = pd.concat([otzyvus_df, sravnyator_df, tutortop_df], ignore_index=True)

## Датасет Яндекса

In [52]:
import time

data = {
    "address": [],
    "name_ru": [],
    "rubrics": [],
    "rating": [],
    "text": [],
}

with open('../data/datasets/geo-reviews-dataset-2023.tskv', 'r') as file:
    for line in file:
        tokens = line.split(u"\t")
        flags = {
            "address": False,
            "name_ru": False,
            "rubrics": False,
            "rating": False,
            "text": False,
        }
        for token in tokens:
            key_value = token.split(u"=")
            data[key_value[0]].append(key_value[1])
            flags[key_value[0]] = True
        for flag, value in flags.items():
            if not value:
                data[flag].append(None)

In [53]:
# Оставляем только текст и рубрики
others_df = pd.DataFrame(data)[['text', 'rubrics']]
# "\n" -> " "
others_df['text'] = others_df['text'].str.replace('\\n', ' ')

Наглядно

In [54]:
courses_df

,text,rubrics
0,"Был скучноват. Много практики, решение задач п...",образование_онлайн_курсы;образование_отзывус
1,Первые пол семестра - упражнения всякие сценич...,образование_онлайн_курсы;образование_отзывус
2,"Чисто основы основ 3д моделинга, для тех кто в...",образование_онлайн_курсы;образование_отзывус
3,"Электив просто песня, две презентации за весь ...",образование_онлайн_курсы;образование_отзывус
4,Прекрасный электив помогающий разобраться в се...,образование_онлайн_курсы;образование_отзывус
...,...,...
10646,Достижениями мне еще рано хвастаться. Только д...,образование_онлайн_курсы;образование_тьютортоп
10647,"Прошел уже большую часть курса, брал 2 раза ме...",образование_онлайн_курсы;образование_тьютортоп
10648,Начал обучение в этом приложении и это полный ...,образование_онлайн_курсы;образование_тьютортоп
10649,"Ребята, всем кто хочет практиковаться - в мире...",образование_онлайн_курсы;образование_тьютортоп
10650,"Это отличный ресурс, если занимаетесь самостоя...",образование_онлайн_курсы;образование_тьютортоп

In [55]:
others_df

,text,rubrics
0,Московский квартал 2. Шумно : летом по ночам д...,Жилой комплекс
1,"Замечательная сеть магазинов в общем, хороший ...",Магазин продуктов;Продукты глубокой заморозки;...
2,"Не знаю смутят ли кого-то данные правила, но я...",Фитнес-клуб
3,Хорошие условия аренды. Дружелюбный персонал....,Пункт проката;Прокат велосипедов;Сапсёрфинг
4,Топ мастер Ангелина топ во всех смыслах ) Немн...,"Салон красоты;Визажисты, стилисты;Салон бровей..."
...,...,...
499995,"Охрана кривая но добрая, двери не закрываются ...",Железнодорожная станция
499996,По сравнению со многими современными платформа...,Железнодорожная станция
499997,"Приятная атмосфера, прекрасное вино, волшебная...","Бар, паб"
499998,Был с семьёй 13.06.23 Отличное место. Рекоменд...,Достопримечательность
499999,"Отличные декорации... Вблизи тяп-ляп,а на фото...",Достопримечательность

## Объединяем наш датасет и датасет Яндекса

In [56]:
# Объединяем датасеты
all_df = pd.concat([courses_df, others_df], ignore_index=True)

In [57]:
all_df

,text,rubrics
0,"Был скучноват. Много практики, решение задач п...",образование_онлайн_курсы;образование_отзывус
1,Первые пол семестра - упражнения всякие сценич...,образование_онлайн_курсы;образование_отзывус
2,"Чисто основы основ 3д моделинга, для тех кто в...",образование_онлайн_курсы;образование_отзывус
3,"Электив просто песня, две презентации за весь ...",образование_онлайн_курсы;образование_отзывус
4,Прекрасный электив помогающий разобраться в се...,образование_онлайн_курсы;образование_отзывус
...,...,...
510646,"Охрана кривая но добрая, двери не закрываются ...",Железнодорожная станция
510647,По сравнению со многими современными платформа...,Железнодорожная станция
510648,"Приятная атмосфера, прекрасное вино, волшебная...","Бар, паб"
510649,Был с семьёй 13.06.23 Отличное место. Рекоменд...,Достопримечательность
510650,"Отличные декорации... Вблизи тяп-ляп,а на фото...",Достопримечательность

# Экспорт данных

In [58]:
all_df.to_csv("../data/datasets/all_dataset.csv", sep=';', encoding="utf-8")

In [59]:
courses_df.to_csv("../data/datasets/courses_dataset.csv", sep=';', encoding="utf-8")